In [ ]:
import warnings 
warnings.filterwarnings('ignore')
import os 
import numpy as np
import pandas as pd 
 
from matplotlib import pyplot as plt
%matplotlib inline
 
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
 
from sklearn.linear_model import LinearRegression
 
import tensorflow as tf
from tensorflow import keras 
 
from sklearn import preprocessing

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
weather_df = pd.read_csv('/content/gdrive/My Drive/Weather/weatherHistory.csv')
weather_df.head(10)

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.
5  2006-04-01 05:00:00.000 +0200  ...  Partly cloudy throughout the day.
6  2006-04-01 06:00:00.000 +0200  ...  Partly cloudy throughout the day.
7  2006-04-01 07:00:00.000 +0200  ...  Partly cloudy throughout the day.
8  2006-04-01 08:00:00.000 +0200  ...  Partly cloudy throughout the day.
9  2006-04-01 09:00:00.000 +0200  ...  Partly cloudy throughout the day.

[10 rows x 12 columns]

In [ ]:
weather_df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [ ]:
weather_df.shape

(96453, 12)

In [ ]:
weather_df.describe()

       Temperature (C)  ...  Pressure (millibars)
count     96453.000000  ...          96453.000000
mean         11.932678  ...           1003.235956
std           9.551546  ...            116.969906
min         -21.822222  ...              0.000000
25%           4.688889  ...           1011.900000
50%          12.000000  ...           1016.450000
75%          18.838889  ...           1021.090000
max          39.905556  ...           1046.380000

[8 rows x 8 columns]

In [ ]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [ ]:
weather_df.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [ ]:
weather_df.isnull().all()

Formatted Date              False
Summary                     False
Precip Type                 False
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [ ]:
round(100*(weather_df.isnull().sum()/len(weather_df.index)),2)

Formatted Date              0.00
Summary                     0.00
Precip Type                 0.54
Temperature (C)             0.00
Apparent Temperature (C)    0.00
Humidity                    0.00
Wind Speed (km/h)           0.00
Wind Bearing (degrees)      0.00
Visibility (km)             0.00
Loud Cover                  0.00
Pressure (millibars)        0.00
Daily Summary               0.00
dtype: float64

In [ ]:
weather_df['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [ ]:
weather_df.loc[weather_df['Precip Type'].isnull(),'Precip Type']='rain'
round(100*(weather_df.isnull().sum()/len(weather_df.index)),2)

Formatted Date              0.0
Summary                     0.0
Precip Type                 0.0
Temperature (C)             0.0
Apparent Temperature (C)    0.0
Humidity                    0.0
Wind Speed (km/h)           0.0
Wind Bearing (degrees)      0.0
Visibility (km)             0.0
Loud Cover                  0.0
Pressure (millibars)        0.0
Daily Summary               0.0
dtype: float64

In [ ]:
weather_df.loc[weather_df['Precip Type']=='rain','Precip Type']=1
weather_df.loc[weather_df['Precip Type']=='snow','Precip Type']=0

In [ ]:
weather_df_num=weather_df[list(weather_df.dtypes[weather_df.dtypes!=object].index)]

In [ ]:
weather_y=weather_df_num.pop('Humidity')
weather_X=weather_df_num

In [ ]:
weather_df.to_csv('weather2.csv',index=False)
from google.colab import files
files.download("formulatedtest.csv")

FileNotFoundError: ignored

In [ ]:
train_X,test_X,train_y,test_y=train_test_split(weather_X,weather_y,test_size= 0.2 ,random_state=4)
train_X.head()

       Temperature (C)  ...  Pressure (millibars)
70626        21.061111  ...               1005.87
52457        25.016667  ...               1025.36
90690         4.422222  ...               1014.75
69528        13.772222  ...               1014.56
92419        23.288889  ...               1022.05

[5 rows x 7 columns]

In [ ]:
train_y.head()

70626    0.31
52457    0.36
90690    0.89
69528    0.78
92419    0.82
Name: Humidity, dtype: float64

In [ ]:
test_y.head()

37443    0.92
86534    0.89
2082     0.83
53130    0.24
45196    0.82
Name: Humidity, dtype: float64

In [ ]:
train_X.head()

       Temperature (C)  ...  Pressure (millibars)
70626        21.061111  ...               1005.87
52457        25.016667  ...               1025.36
90690         4.422222  ...               1014.75
69528        13.772222  ...               1014.56
92419        23.288889  ...               1022.05

[5 rows x 7 columns]

In [ ]:
train_y.head()

70626    0.31
52457    0.36
90690    0.89
69528    0.78
92419    0.82
Name: Humidity, dtype: float64

In [ ]:
model =LinearRegression()
model.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
prediction = model.predict(test_X)
y=np.mean((prediction-test_y)**2)

In [ ]:
hi = model.predict(test_X)

In [ ]:
pd.DataFrame({'actual':test_y,'prediciton':hi,'diff':(test_y-hi)})

       actual  prediciton      diff
37443    0.92    0.916713  0.003287
86534    0.89    0.831889  0.058111
2082     0.83    0.797085  0.032915
53130    0.24    0.475429 -0.235429
45196    0.82    0.661377  0.158623
...       ...         ...       ...
55387    0.83    0.937631 -0.107631
25976    0.87    0.798058  0.071942
32423    0.37    0.637978 -0.267978
26570    0.53    0.664748 -0.134748
45834    0.85    0.950009 -0.100009

[19291 rows x 3 columns]

In [ ]:
prediction = model.predict(test_X)
y=np.mean((prediction-test_y)**2)
x=(1-y)*100
print("The accuracy of the Linear Regression model is ",x)

The accuracy of the Linear Regression model is  97.9910643061966

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model =RandomForestRegressor(random_state=23)

In [ ]:
model.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=23, verbose=0, warm_start=False)

In [ ]:
prediction = model.predict(test_X)
a=np.mean((prediction-test_y)**2)
a

0.009791092340310982

In [ ]:
test_y

37443    0.92
86534    0.89
2082     0.83
53130    0.24
45196    0.82
         ...
55387    0.83
25976    0.87
32423    0.37
26570    0.53
45834    0.85
Name: Humidity, Length: 19291, dtype: float64

In [ ]:
hi = model.predict(test_X)
pd.DataFrame({'actual':test_y,'prediciton':hi,'diff':(test_y-hi)})

       actual  prediciton    diff
37443    0.92      0.9134  0.0066
86534    0.89      0.8212  0.0688
2082     0.83      0.8345 -0.0045
53130    0.24      0.2408 -0.0008
45196    0.82      0.8015  0.0185
...       ...         ...     ...
55387    0.83      0.8045  0.0255
25976    0.87      0.8497  0.0203
32423    0.37      0.6079 -0.2379
26570    0.53      0.5846 -0.0546
45834    0.85      0.8890 -0.0390

[19291 rows x 3 columns]

In [ ]:
prediction = model.predict(test_X)
a=np.mean((prediction-test_y)**2)
a
x=(1-a)*100
print("The accuracy of the Random Forest Regressor is ",x)

The accuracy of the Random Forest Regressor is  99.0208907659689